# TODO When updating flash-attn or torch in the future, make sure to update the version in the Dockerfile 
torch==2.5.1
transformers
tokenizers
datasets
peft
sentencepiece
bitsandbytes>=0.41.1
protobuf
scipy
packaging
tiktoken
wandb
docta.ai
gradio>=3.50.2
seaborn
torchvision==0.20.1
# open_clip_torch==2.18.0